@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
body {
  min-height: 81vh;
  background: linear-gradient(0deg, #fff, 50%, #deeefe);
  font-family: "Rubik", sans-serif;
  background-repeat: no-repeat;
}

.container {
  margin-top: 150px !important;
}


.login-form {
  border-radius: 5px; /* Puedes ajustar el valor según tus preferencias */
  border: 1px solid #ccc; /* Puedes cambiar el color del borde según tus preferencias */
  padding: 10px;
}
/* Agregamos estilos para los inputs con la clase form-control */
.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.login-form input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form input[type="submit"]:hover {
  background-color: #45a049;
}

button {
  font-size: calc(
    12px + (13 - 12) * ((100vw - 360px) / (1600 - 320))
  ) !important;
  padding: calc(6px + 5 * ((100vw - 320px) / 780)) !important;
  color: #000 !important;
}

label {
  font-size: 15px !important;
  vertical-align: middle !important;
}

@import url(//fonts.googleapis.com/css?family=Muli);

p{
    line-height: 1.8;

}

a {
    color: #026efd;
    text-decoration: none;
}

a:hover{
    color: #026efd;
}

h1, h2, h3, h4, h5, h6 {font-family: 'Muli', 'seans-serif'; font-weight: normal;}


h1{
    border-bottom: 1px solid #bbb;
    padding: 0 0 10px 0;
    margin: 10px 0 20px 0;
}

h2{
    margin: 30px 0 20px;
}

ol{
    line-height: 1.5px;
}

#header{
    padding: 10px 100px;
    font-size: 20px;
    background: #026efd;
    color: #fff;
    border-bottom: 10px solid #026efd;
    overflow: auto;
}

#header .logo {
    font-family: 'Muli', 'sans-serif';
    float: left;
    color: #f3f7cc;
    font-size: 28px;
    margin-left: 40%;
    font-weight: bolder;
    margin-top: 2%;
}

#header ul.menu{
    list-style: none;
    float: left;
    margin-left: 15%;
    margin-top: 2%;
}

#header ul.menu li{
    float: left;
    padding: 4px 10px;
}

#header ul.menu li.selected a, #header ul.menu li.selected a:hover{
    color: #02f9fd;
    font-weight: bold;

}

#header a{
    color: #f3f7cc;

}


#header a:hover{
    color: #fff;

}

#header .user{
    float: right;
    padding-top: 4px;
}




