{% extends "base.html" %} 
{% block titulo %} Registrar Abono {% endblock %} 
{% block contenido %} 
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <div class="card">
      <div class="card-body">
        <h1>Registrar Abono</h1>
        <form action="/registrar_abono/" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="cliente">Cliente</label>
            <select name="cliente" id="cliente" class="form-select">
              <option value="" selected="selected">
                Seleccionar un cliente
              </option>
              {% for cliente in clientes %}
              <option value="{{ cliente.id }}">{{ cliente.nombre }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="abono">Abono</label>
            <input type="number" class="form-control" name="abono" id="abono" />
          </div>
          <div class="mb-3">
            <label for="fecha_abono">Fecha del abono</label>
            <input
              type="date"
              class="form-control"
              name="fecha_abono"
              id="fecha_abono"
            />
          </div>
          <button class="btn btn-success" type="submit">Registrar Abono</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Abonos</h4>
        <table class="table table-striped">
          <thead>
            <tr class="text-center">
              <th scope="col">ID</th>
              <th scope="col">Cliente</th>
              <th scope="col">Abono</th>
              <th scope="col">Fecha Abono</th>
            </tr>
          </thead>
          <tbody>
            {% for Abono in abonos %}
            {% for Prestamo in prestamos %}
            <tr class="text-center">
              <td>{{ Abono.id }}</td>
              <td>{{ Abono.cliente }}</td>
              <td>{{ Abono.abono }}</td>
              <td>{{ Abono.fecha_abono }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
