{% extends "base.html" %} {% block titulo %} Inicio {% endblock %} 
{% block contenido %}<br /><br />

<div class="content">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        <div class="jumbotron">
          <h1 class="display-4">BIENVENIDO</h1>
          <p class="lead">Sistema Digital de Prestamos.</p>
          <hr class="my-4" />
          <p class="card-text">
            Un Sistema Digital de Préstamos es un sistema informático que
            automatiza el proceso de solicitud, aprobación y desembolso de
            préstamos. Este sistema permite a los prestatarios solicitar
            préstamos en línea, sin tener que visitar una sucursal bancaria o
            financiera.
          </p>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
