{% extends "base.html" %} {% block titulo %} Lista de Prestamos {% endblock %}
{% block contenido %}
  {% if messages %} {% for message in messages %}
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong class="text-dark">{{ message }}</strong>
  </div>
  {% endfor %} {% endif %}
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Listado de Prestamos</h1> <a href="{% url 'nuevo_prestamo' %}" class="btn btn-success btn-sm">Nuevo Prestamo</a>
      </div>
      <table id="datatable" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Cliente ID</th>
            <th scope="col">Fecha Prestamo</th>
            <th scope="col">Fecha Cuota</th>
            <th scope="col">Valor</th>
            <th scope="col">Cantidad cuotas</th>
            <th scope="col">Frecuencia pago</th>
            <th scope="col">Tasa Interes</th>
            <th scope="col">Cuota</th>
            <th scope="col">Debe</th>
            <th scope="col">Pagado</th>
            <th scope="col">Estado</th> 
            <th scope="col"><a href="{% url 'generate_pdf_prestamo' %}" class="btn btn-danger"><i class="far fa-file-pdf"></i></a></th>
          </tr>
        </thead>
        <tbody>
          {% for Prestamo in prestamos %}
          <tr>
            <td>{{ Prestamo.id }}</td>
            <td>{{ Prestamo.cliente }}</td>
            <td>{{ Prestamo.fecha_prestamo }}</td>
            <td>
              {% if Prestamo.fecha_cuota %} {{ Prestamo.fecha_cuota }} 
              {% else %}
              <span class="text-muted">No se ha establecido</span>
              {% endif %}
            </td>
            <td>{{ Prestamo.prestamo }}</td>
            <td>{{ Prestamo.cantidad_cuotas }}</td>
            <td>{{ Prestamo.frecuencia_pago }}</td>
            <td>{{ Prestamo.tasa_interes }}</td>
            <td>{{ Prestamo.valor_cuota }}</td>
            <td>{{ Prestamo.debe }}</td>
            <td>{{ Prestamo.pagado }}</td>
            <td>{{ Prestamo.estado }}</td>
            <td></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
