{% extends "base.html" %}

{% block titulo %} Agregar nuevo Préstamo {% endblock %}

{% block contenido %}
    <br><br>
    <div class="card">
        <div class="card-header">
            Crear un Préstamo
        </div>
        <div class="card-body">
            <h4 class="card-title">Datos del Préstamo</h4>
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="cliente">Cliente</label>
                    <select name="cliente" id="cliente" class="form-select">
                        <option value="" selected="selected">Seleccionar un cliente</option>
                        {% for cliente in clientes %}
                            <option value="{{ cliente.id }}">{{ cliente.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="fecha_prestamo">Fecha de Préstamo</label>
                    <input type="date" class="form-control" name="fecha_prestamo" id="fecha_prestamo">
                </div>

                <div class="mb-3">
                    <label for="fecha_fin">Fecha de Fin</label>
                    <input type="date" class="form-control" name="fecha_fin" id="fecha_fin">
                </div>

                <div class="mb-3">
                    <label for="prestamo">Préstamo</label>
                    <input type="text" class="form-control" name="prestamo" id="prestamo">
                </div>

                <div class="mb-3">
                    <label for="cantidad_cuotas">Cantidad de Cuotas</label>
                    <input type="number" class="form-control" value="" name="cantidad_cuotas" id="cantidad_cuotas">
                </div>

                <div class="mb-3">
                    <label for="tasa_interes">Tasa de Interés</label>
                    <input type="text" class="form-control" name="tasa_interes" id="tasa_interes">
                </div>

                <div class="mb-3">
                    <label for="debe">Debe</label>
                    <input type="text" class="form-control" value="0" name="debe" id="debe" readonly>
                </div>
                <div class="mb-3">
                    <input class="form-control" type="hidden" value="0" name="pagado" id="pagado" disabled readonly>
                </div>

                <input class="btn btn-success" type="submit" value="Enviar Información">
            </form>
        </div><br>
    </div>
    <script>
        // Función para calcular el campo "Debe" en base al préstamo, la cantidad de cuotas y la tasa de interés
        function calcularDebe() {
            const montoPrestamoInput = document.getElementById('prestamo');
            const cantidadCuotasInput = document.getElementById('cantidad_cuotas');
            const tasaInteresInput = document.getElementById('tasa_interes');
            const debeInput = document.getElementById('debe');
        
            const montoPrestamo = parseFloat(montoPrestamoInput.value);
            const cantidadCuotas = parseInt(cantidadCuotasInput.value);
            const tasaInteres = parseFloat(tasaInteresInput.value);
        
            if (!isNaN(montoPrestamo) && !isNaN(cantidadCuotas) && !isNaN(tasaInteres)) {
                const debe = (montoPrestamo * (1 + (tasaInteres / 100))) * cantidadCuotas;
                debeInput.value = debe.toFixed(2); // Formatea a dos decimales
            } else {
                debeInput.value = '0.00';
            }
        }
        
        function obtenerFechaActual() {
            const now = new Date();
            const year = now.getFullYear();
            const month = String(now.getMonth() + 1).padStart(2, '0');
            const day = String(now.getDate()).padStart(2, '0');
            return `${year}-${month}-${day}`;
        }
        
        document.addEventListener("DOMContentLoaded", function() {
            const fechaPrestamoInput = document.getElementById('fecha_prestamo');
            fechaPrestamoInput.value = obtenerFechaActual();
            calcularTasaInteres(); // Calcular la tasa de interés inicial
        });
        
        document.getElementById('prestamo').addEventListener('input', calcularDebe);
        document.getElementById('cantidad_cuotas').addEventListener('input', calcularDebe);
        document.getElementById('tasa_interes').addEventListener('input', calcularDebe);
        calcularDebe();
        
        document.getElementById('id_debe').readOnly = true;
        
        function calcularTasaInteres() {
            const fechaPrestamoInput = document.getElementById('fecha_prestamo');
            const fechaFinInput = document.getElementById('fecha_fin');
            const tasaInteresInput = document.getElementById('tasa_interes');
        
            const fechaPrestamo = new Date(fechaPrestamoInput.value);
            const fechaFin = new Date(fechaFinInput.value);
        
            const diffMonths = (fechaFin.getFullYear() - fechaPrestamo.getFullYear()) * 12 + fechaFin.getMonth() - fechaPrestamo.getMonth();
        
            let tasaInteres = 0;
            if (diffMonths >= 3) {
                tasaInteres = 10;
            } else {
                tasaInteres = 5;
            }
        
            tasaInteresInput.value = tasaInteres;
        }
        
        document.getElementById('fecha_prestamo').addEventListener('input', calcularTasaInteres);
        document.getElementById('fecha_fin').addEventListener('input', calcularTasaInteres);
        calcularTasaInteres();
    </script>
</div>
{% block footer %} {% endblock %}
{% endblock %}
