{% extends "base.html" %} 
{% block titulo %} Lista de Prestamos {% endblock %}
{% block contenido %}
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <h1>Listado de Usuarios</h1>
            <table id="datatable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Correo</th>

                    </tr>
                </thead>
                <tbody>
                    {% for Usuario in usuarios %}
                    <tr>
                        <td>{{ Usuario.id }}</td>
                        <td>{{ Usuario.username }}</td>
                        <td>{{ Usuario.first_name }}</td>
                        <td>{{ Usuario.last_name }}</td>
                        <td>{{ Usuario.email }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}