{% extends "entrada.html" %} {% block title %}Login{% endblock %} 
{% block content %} <br /> <br />
<div class="row justify-content-center">
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <div class="card">
      <div class="card-body">
        <h1>Login</h1>
        {% if form.arrors %}
        <p>Pleaser, check your username and password</p>
        {% else %}
        <p>Please, use the following form to Login.</p>
        {% endif %}
        <div class="login-form">
          <form action="{% url 'login' %}" method="post">
            {{ form.as_p }} {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p>
              <input type="submit" value="Iniciar Sesión" />
            </p>
          </form>
          <p>
            <a href="#"> Forgotten Your Password </a>
          </p>
        </div>
        
      </div>
    </div>
  </div>
</div>
{% endblock %}